{{#unless unidadSimple}}
  <div class="input-group">
    {{#elastic-select disabled=disabled query=unidadQuery pplaceholder="Unidad" type='c_ClaveUnidad' selected=concepto.claveUnidadSelected onchange=(action 'setClaveUnidad') as |item|}}
      ({{item.clave}}) {{item.simbolo}} {{item.name}}
    {{/elastic-select}}
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <div class="col-sm-12 mb-15 mt-15">
            <label>Unidad personalizada</label>
            <p class="form-group">
              <input type="hidden" class="form-control"> {{input pplaceholder="Unidad" value=concepto.unidad class="form-control"}}
              <input type="hidden" class="form-control">
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  {{else}}
    {{input disabled=disabled pplaceholder="Unidad" value=concepto.unidad class="form-control" pplaceholder="Unidad personalizada"}}
{{/unless}}