
<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group mb-0 text-center {{if (v-get concepto 'cantidad' 'isValid') 'has-success'}}">
          {{#unless hideLabels}}
            <label>
              Cantidad
            </label>
          {{/unless}}
          {{#if editable}}
            {{number-input class="form-control text-right" pplaceholder="Cantidad" min=0 unmaskAsNumber=true unmaskedValue=concepto.cantidad group=true groupSize=3 separator=',' decimal=false disabled=(if (contains 'cantidad' disabledFields) true) }}
          {{else}}
            <p class="form-control-static">{{concepto.cantidad}}</p>
          {{/if}}
        </div>
      </div>
      <div class="col-sm-7">
        {{#unless hideLabels}}
          <label>
            Unidad
            <i class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="right" title="Unidad de medida de acuerdo a su concepto, ejemplo: Kg"></i>
          </label>
        {{/unless}}

        {{#if editable}}
          {{concepto-unidad-input concepto=concepto unidadSimple=unidadSimple}}

          {{#if concepto.claveUnidad}}
            <span style="float: top;" class="label label-primary seleccionado">{{concepto.claveUnidadString}}</span>
          {{/if}}

          {{#if (and concepto.unidad (not isParte))}}
            <p>
              <small><b>Propia:</b> {{concepto.unidad}}</small>
            </p>
          {{/if}}
        {{else}}
          <p class="form-control-static">
            {{#if concepto.unidad}}
              {{concepto.unidad}}
            {{else}}
              ({{concepto.claveUnidadSelected.clave}}) {{concepto.claveUnidadSelected.simbolo}} {{concepto.claveUnidadSelected.name}}
            {{/if}}
          </p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="row">
      <div class="col-sm-7">
        {{#unless hideLabels}}
          <label>
            Concepto
            <i class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="right" title="Escribe el tipo de concepto y enseguida se desplegará el catalogo para encontrar su clave, Ejemplo: '60121001', si no es encontrada deberá escribir '1010101'"></i>
          </label>
        {{/unless}}

        {{#if editable}}
          <div class="input-group">
            {{#elastic-select options=initialOptions sortField='name' pplaceholder="Clave de concepto" type='c_ClaveProdServ' selected=concepto.claveSelected query=conceptosQuery onchange=(action 'setClaveProdServActivada') as |item|}}
              ({{item.clave}}) {{item.name}}
            {{/elastic-select}}
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" {{action 'toggleBusquedaClaveProducto' true}}>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        {{else}}
          <p class="form-control-static">({{concepto.claveSelected.clave}}) {{concepto.claveSelected.name}}</p>
        {{/if}}
        {{!--<p><small>{{concepto.claveSelected.name}}</small></p> --}}
      </div>
      <div class="col-sm-5">
        {{#unless hideLabels}}
          <label>Descripción</label>
        {{/unless}}

        {{#if editable}}
          {{concepto-descripcion-input concepto=concepto defaultAutRVOE=factura.emisor.autRVOE}}
        {{else}}
          <p class="form-control-static">{{concepto.descripcion}}</p>
        {{/if}}

        {{#if (or concepto.noIdentificacion concepto.numeroPredial concepto.iedu)}}
          <p>
            <small>
              {{#if concepto.noIdentificacion}}
                  <b>Identificador:</b> {{concepto.noIdentificacion}}
                  <br/>
              {{/if}}
              {{#with concepto.iedu as |iedu|}}
                  <b>IEDU:</b> {{iedu.nombreAlumno}} {{iedu.curp}} {{iedu.nivelEducativo}} {{iedu.autRVOE}}
                  <br/>
              {{/with}}
              {{#if concepto.numeroPredial}}
                  <b>Predial:</b> {{concepto.numeroPredial}}
              {{/if}}
            </small>
          </p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-5">
        {{#unless hideLabels}}
          <label>P. Unitario</label>
        {{/unless}}

        {{#if editable}}
          {{currency-input disabled=disabled pplaceholder="Precio unitario" unmaskedValue=concepto.valorUnitario unmaskAsNumber=true rightAlign=true class="form-control"}}
        {{else}}
          <p class="form-control-static">{{format-money concepto.valorUnitario }}</p>
        {{/if}}
      </div>
      <div class="col-sm-6">
        {{#unless hideLabels}}
          <label>Importe</label>
        {{/unless}}

        {{#if editable}}
          <div class="{{if showDescuentoField 'input-group'}}">
            {{currency-input disabled=disabled pplaceholder="Importe" unmaskedValue=(readonly (if concepto.hasDescuento concepto.subtotal concepto.importe)) unmaskAsNumber=true disabled=true rightAlign=true class="form-control"}}

            {{#if showDescuentoField}}
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <div class="col-sm-12 mt-15 mb-15">
                      <label>Descuento</label>
                      <div class="form-group">
                        <input type="hidden" class="form-control"> {{currency-input pplaceholder="Descuento" unmaskedValue=concepto.descuento unmaskAsNumber=true class="form-control"}}
                        <input type="hidden" class="form-control">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            {{/if}}
            <!-- /btn-group -->
          </div>
        {{else}}
          <p class="form-control-static">{{format-money concepto.importe }}</p>
        {{/if}}
        {{#if concepto.hasDescuento}}
          <p>
            <small><b>Descuento por:</b> {{format-money concepto.descuento }}</small>
          </p>
        {{/if}}
      </div>

      {{#if editable}}
        <div class="col-sm-1 pd-0">
          {{#unless hideLabels}}
            <p class="mb-0 pd-0">&nbsp;</p>
          {{/unless}}
          <button class="btn btn-default btn-simple pd-0" {{action 'borrarConcepto' concepto}}>
            <i class="fa fa-times"></i>
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{#unless isParte}}
  <div class="panel-group mb-0">
    <div class="panel panel-default partes">
      <div class="panel-heading panel-primary">
        <div class="panel-title">
          {{#if concepto.partes}}
          <a class="btn btn-sm btn-default btn-simple text-left" data-target="#concepto-partes-{{concepto.id}}" data-toggle="collapse" aria-expanded="true">
              {{pluralize concepto.partes.length 'Parte'}}
              <b class="caret"></b>
            </a>
          {{else}}{{!-- {{#unless hideOptionsBar}}
        <button class="btn btn-sm btn-default btn-simple" {{action "nuevaParte"}}><i class="fa fa-plus"></i> Añadir parte</button>
        {{/unless}} --}}{{/if}}
        </div>
      </div>
      {{#if concepto.partes}}
        <div id="concepto-partes-{{concepto.id}}" class="panel-collapse collapse in" aria-expanded="true">
          <div class="panel-body pd-b-0">
            {{#each concepto.partes as |parte index|}}
              {{#unless parte._destroy}}
                {{x-form-concepto editable=(if factura factura.editable true) concepto=parte hideOptionsBar=true unidadSimple=false showPredialField=false showDescuentoField=false hideLabels=(gt index 0) isParte=true }}
              {{/unless}}
            {{/each}}
            <p class="text-left mb-0 pd-0">
              <button class="btn btn-sm btn-primary btn-simple" {{action "nuevaParte"}}><i class="fa fa-plus"></i> Añadir parte</button>
            </p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
{{/unless}}
{{#each (reject-by 'hidden' concepto.impuestos) as |impuesto index|}}
  {{#unless impuesto.isDeleted}} {{x-form-impuesto editable=editable impuesto=impuesto hideLabels=(gt index 0) class="mb-10 mt-15" locales=true}} {{/unless}}
{{/each}}
<div class="row">
  {{#unless hideOptionsBar}}
    <div class="col-sm-6">
      {{#unless concepto.partes}}
        {{#if editable}}
        <button class="btn btn-sm btn-primary btn-simple" {{action "nuevaParte"}}>
          <i class="fa fa-plus"></i> Agregar parte
        </button>
        {{/if}}
      {{/unless}}
    </div>
    {{#if editable}}
    <div class="col-sm-6 text-right">
      <button class="btn btn-sm btn-primary btn-simple" {{action "nuevoImpuesto"}}>
        <i class="fa fa-plus"></i> Añadir impuesto a este concepto
      </button>
    </div>
    {{/if}}
  {{/unless}}
</div>
{{#if busquedaClaveProducto}} {{catalogo-conceptos-modal close=(action 'toggleBusquedaClaveProducto' false) claveSelected=(action 'setClaveProdServActivada')}} {{/if}}
