<div class="row">
  <div class="col-12">
    {{#unless impuestoObj.local}}
      <div class="col-12 text-right"></div>
    {{/unless}}

      {{#if editable}}
        <div class="col-12 text-right">
          {{#unless hideLabels}}<p class="mb-0 pd-0">&nbsp;</p>{{/unless}}
					<button type="button" class="btn btn-link" {{action 'borrarImpuesto' impuesto}}>
						<img src="icons/cancelarEntidad.svg" height="20" width="20">
					</button>
			  </div>
      {{/if}}

      {{#unless hideLabels}}<label>Tipo de impuesto</label>{{/unless}}
      {{#if editable}}
      {{#power-select
        disabled=(not editable)
        allowClear=true
        searchEnabled=false
        options=groupedImpuestos
        selected=impuestoObj
        onchange=(action 'setTipoImpuesto')
        triggerClass="form-control"
        renderInPlace=true
        disabled=disabled
        as |obj|
      }}
        {{if (eq obj.tipo tipoRetencion) 'Retención '}}
        {{obj.label}}
      {{/power-select}}
      {{else}}
      <p class="form-control-static">{{if (eq impuestoObj.tipo tipoRetencion) 'Retención '}}
        {{impuestoObj.label}}</p>
      {{/if}}

      

    {{#if impuestoObj.local}}
        {{#unless hideLabels}}<label>Nombre</label>{{/unless}}
        {{input value=impuesto.impuesto class='form-control' autofocus=true disabled=(not editable)}}
      
        {{#unless hideLabels}}<label>Base</label>{{/unless}}
        {{currency-input autofocus=true disabled=(not editable) placeholder="Base" unmaskedValue=impuesto.base rightAlign=true class="form-control"}}
      
    {{/if}}
  </div>


  {{!-- <div class="col-sm-5" style="padding:0"> 
    <div class="row">--}}
      <div class="col-12">
        {{#unless hideLabels}}
          <label>{{if impuesto.isTasa 'Tasa' 'Cuota'}}</label>
        {{/unless}}
          <div class="input-group" style="width:100%">
        {{#if (and (not impuesto.isExento) (and  allowFixed (not showRangeInput)))}}
          {{!-- <div style="width:60%"> --}}
            {{#if editable}}
            <input type="hidden" class="form-control">
            <select oninput={{action (mut impuesto.tasaCuotaStr) value="target.value"}} disabled={{disabled}} class="form-control" placeholder="-Porcentaje-">
              <option>Elige una opción...</option>
              {{#each impuestoObj.fixedValues as |value|}}
                <option value={{percent value}} selected={{eq impuesto.tasaCuotaStr (percent value)}}>{{percent value}} %</option>
              {{/each}}
            </select>
            <input type="hidden" class="form-control">
            {{else}}
            <p class="form-control-static">
              {{#each impuestoObj.fixedValues as |value|}}
                {{#if (eq impuesto.tasaCuotaStr (percent value))}}
                  {{percent value}} % 
                {{/if}}  
              {{/each}}

            </p>
            {{/if}}
          {{!-- </div> --}}
        {{/if}}

        {{#if (and (not impuesto.isExento) (and allowRange showRangeInput))}}
          <div  style="width:60%">
            <input type="hidden" class="form-control">
            
            {{component
              rangeInputComponent
              unmaskedValue=impuesto.tasaCuota
              max=(percent rangeInputMax)
              min=(percent rangeInputMin)
              digits=6
              decimal=4
              suffix=rangeInputSuffix
              unmaskAsNumber=true
              rightAlign=true
              digitsOptional=true
              autofocus=true
              disabled=(not editable)
              class="form-control"}}
            <input type="hidden" class="form-control">


          </div>
        {{/if}}
        {{#if impuesto.tipo}}
         <div class="input-group" style="width: {{if impuesto.isExento '100%' '40%'}}">
              {{#if editable}}
              <input type="hidden" class="form-control">
               <select oninput={{action 'toggleRange' value="target.value"}}  class="form-control" placeholder="-Porcentaje-">
              {{!-- {{#each entradas as |entrada index|}}
                <option value={{index}} selected={{eq entrada tipoEntrada}}>{{entrada}}</option>
              {{/each}} --}}

              {{#if allowFixed}}
                <option value="0" selected={{eq tipoEntrada "Elección"}}>Elección</option>
              {{/if}}
              {{#if allowRange}}
                <option value="1" selected={{eq tipoEntrada "Personalizado"}}>Personalizado</option>
              {{/if}}
              {{#if showExentoBtn}}
                <option value="2" selected={{impuesto.isExento}}>Exento</option>
              {{/if}}

            </select>
              <input type="hidden" class="form-control">
              {{else}}
              <p class="form-control-static">
               {{if impuesto.isExento 'Exento' tipoEntrada}}


              </p>
              {{/if}}
          </div>
        {{/if}}

        </div>

      {{!-- </div> 

      <div class="col-12" style="padding-left:0">--}}

        {{#unless hideLabels}}<label>Importe</label>{{/unless}}

        <div class= {{if impuesto.importeCustom 'input-group'}}>
          {{#if impuesto.importeCustom}}
              <div class="input-group-btn">
                <button type="button" {{action 'recalculateImporte' }} class="btn btn-default">
                  <span class="glyphicon glyphicon-refresh"></span>
                </button>
              </div>
            {{/if}}

          {{currency-input disabled=disabled autofocus=true placeholder="Importe" unmaskedValue=impuesto.importe disabled=(not impuestoObj.local) rightAlign=true class="form-control"}}
        </div>
          <br>
  </div>
</div>
