<div class="row">
  <div class="form-group col-12">
    <label for="tipoProceso">Tipo de Proceso</label>
    <select name="tipoProceso" class="form-control" onchange={{action (mut ine.tipoProceso) value="target.value" }}>
    	<option disabled selected value> -- Selecciona una opción -- </option>
      {{#each-in constants.TIPPROCESO as |key option|}}
      	<option value={{key}} selected={{eq key ine.tipoProceso}}>{{option}}</option>
      {{/each-in}}
    </select>
  </div>

  <div class="form-group col-12">
    <label for="tipoComite">Tipo de Comité</label>
    <select name="tipoComite" class="form-control" disabled={{disableTipoComite}} onchange={{action (mut ine.tipoComite) value="target.value" }}>
    	<option selected value> -- Selecciona una opción -- </option>
      {{#each constants.TIPCOMITE as |option|}}
      	<option value={{option}} selected={{eq option ine.tipoComite}}>{{option}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group col-12">
    <label for="idContabilidad">Clave de Contabilidad</label>
    {{input value=(mut ine.idContabilidad) name='idContabilidad' class="form-control" disabled=disableIdContabilidad}}
  </div>
</div>

{{#if showEntidadesFields}}
	<p><small>Entidades donde aplicará el gasto:</small></p>
	{{#each ine.entidadesLive as |ineEntidad|}}
		<div class="row">
			{{#if (gt ine.entidadesLive.length 1)}}
			  <div class="col-12 text-right">
					<button type="button" class="btn btn-link" {{action 'removeIneEntidad' ineEntidad}}>
						<img src="icons/cancelarEntidad.svg" height="20" width="20">
					</button>
			  </div>
		  {{/if}}
		  <div class="col-12 form-group">
		    <select name="{{ineEntidad.id}}-entidad" class="form-control" onchange={{action (mut ineEntidad.claveEntidad) value="target.value" }}>
		    	<option disabled selected value> -- Escoge la entidad -- </option>
		      {{#each-in constants.ENTIDADES as |key value|}}
		      	<option value={{key}} selected={{eq key ineEntidad.claveEntidad}} disabled={{disable-entidad-by-ambito ineEntidad.ambito key}}>{{value}}</option>
		      {{/each-in}}
		    </select>
		  </div>
			<br>
		  <div class="col-12 form-group">
		    <select name="{{ineEntidad.id}}-comite" class="form-control" onchange={{action (mut ineEntidad.ambito) value="target.value" }} disabled={{disableEntidadAmbito}}>
		    	<option disabled selected value> -- Selecciona el ámbito-- </option>
		      {{#each constants.TIPAMBITO as |option|}}
		      	<option value={{option}} selected={{eq option ineEntidad.ambito}} disabled={{disable-ambito-by-entidad ineEntidad.claveEntidad option}}>{{option}}</option>
		      {{/each}}
		    </select>
		  </div>
			<br>
		  <div class="col-12 form-group">
		    {{#tag-input tags=ineEntidad.contabilidadesLive addTag=(action 'addIneContabilidad' ineEntidad) removeTagAtIndex=(action 'removeIneContabilidad' ineEntidad) placeholder="Claves de contabilidad" as |ineContabilidad|}}
		    	{{ineContabilidad.idContabilidad}}
		    {{/tag-input}}
		    <small class="help-block">Múltiples claves deben ir separadas por coma</small>
		  </div>

		  
		</div>
	{{/each}}

	{{#if (lt ine.entidadesLive.length 76)}}
		<button class="btn btn-xs btn-primary" {{action 'addIneEntidad'}}>+ Agregar entidad</button>
	{{/if}}
{{/if}}





