{{!-- TO DO
    Cancela la factura al salir de la ruta
--}}
<nav id="nuevafactura-head" class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: rgb(124,160,242);">
    {{#link-to 'logged.menu.factura'}}
    <img src="icons/cancelar.svg" width="30" height="35"> {{/link-to}}
    <div class="col-10 estilonuevafactura">
        <h3>Nueva Factura</h3>
    </div>
</nav>

{{outlet}}

