{{!--
    Esta plantilla es solo de ejemplo cuando la factura esta cancelada
--}}
<div id="barraVertical" class="social ocultardiv">
    <ul>
        <li>
            <a class="smoothScroll" {{action "pressed" 'inicio' }}>
                <img src="icons/inicio.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "cliente"}}>
                <img src="icons/Cliente.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "conceptos"}}>
                <img src="icons/concepto.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "complementos"}}>
                <img src="icons/complementoINE.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "Emisor"}}>
                <img src="icons/emisor.svg" width="30" height="30">
            </a>
        </li>

    </ul>
</div>

<div class="container haed-menu">
    {{#ember-wormhole to="factura-head"}} {{#link-to 'logged.menu.factura'}}
    <img src="icons/atras.svg" width="30" height="35"> {{/link-to}}
    <div class="col-10 estiloH">
        <h3>Detalle Factura</h3>
    </div>
    {{/ember-wormhole}}

    <div class="col-12">

        <article id="inicio">

            <div class="alert estadoFactura" style="background-color: #fc727a;">
                <h5 id="mensaje">Esta factura se encuentra Cancelada</h5>
            </div>

            <hr>

            <div class="justify-content-center">
                <button class="col btn btn-outline-secondary" role="button" aria-pressed="true">
                    <img src="icons/enviar.svg" width="15" height="15"> Enviar por correo electronico
                </button>
            </div>

            <hr>

            <div class="row justify-content-around">
                <button class="btn btn-outline-secondary" role="button" aria-pressed="true">
                    <img src="icons/descargar.svg" width="15" height="15"> Descargar XML
                </button>

                <button class="btn btn-outline-secondary" role="button" aria-pressed="true">
                    <img src="icons/descargar.svg" width="15" height="15"> Ver PDF
                </button>
            </div>

            <div class="row">
                <div class="col-12">

                    <hr>

                    <div class="row justify-content-center">
                        <b>Folio Fiscal (UUID)</b>
                        <label>022D7F93-2BB8-4A18-B483-B83966A50A32</label>
                    </div>

                    <hr>

                    <b>Fecha de Timbrado</b>
                    <div class="col-12">
                        <label>lunes 07, mayo 2018 09:31</label>
                    </div>
                    <hr>
                    <b>Fecha de Cancelado</b>
                    <div class="col-12">
                        <label>lunes 07, mayo 2018 09:32</label>
                    </div>
                </div>
            </div>
        </article>

        <article id="cliente" class="post_article">
            <hr>
            <div class="row">
                <div class="col-12">

                    <b>RFC del Cliente</b>
                    <label>
                        <b>APP150218NX4</b> Apprendia SA de CV
                    </label>

                    <br>

                    <b>Uso que dará el cliente a la factura</b>
                    <label>(G03) Gastos en general</label>

                    <br>

                    <b>Forma de pago</b>
                    <label>1 Efectivo</label>

                    <br>

                    <b>Método de pago</b>
                    <label>(PUE) Pago en una sola exhibición</label>

                    <br>

                    <b>Moneda y tipo de cambio</b>
                    <label>MXN Peso Mexicano</label>

                    <br>

                    <b>Condiciones de pago</b>
                    <label></label>
                </div>
            </div>
        </article>

        <article id="conceptos" class="post_article">
            <h4>Conceptos</h4>

            <br>

            <b>Cantidad</b>
            <div>
                <label>1</label>
            </div>

            <b>Unidad</b>
            <div>
                <label>(E48) Unidad de servicio</label>
            </div>

            <b>Concepto</b>
            <div>
                <label>(90111501) Hoteles</label>
            </div>

            <b>Descripción</b>
            <div>
                <label>Prueba</label>
            </div>

            <b>P. Unitario</b>
            <div>
                <label>$1.00</label>
            </div>

            <b>Importe</b>
            <div>
                <label>$1.00</label>
            </div>

            <hr>
            <br>

            <div class="col-12">
                <div class="row justify-content-between">
                    <b>Subtotal</b>
                    <b> 100,000</b>
                </div>

                <div class="row justify-content-between">
                    <b>Descuento</b>
                    <b>10%</b>
                </div>

                <div class="row justify-content-between">
                    <b>Impuestos de conceptos</b>
                    <b> 1,000</b>
                </div>

            </div>
        </article>

        <br>

        <article id="complementos" class="post_article">
            <h4>Complementos</h4>
            <input type="button" value="+Complemento INE" id="BtnComplementoINE" class="btn btn-outline-primary">

            <br>
            <br>

            <div class="ocultardiv" id="complementoINE">
                <h5>Complemento INE</h5>
                <div class="row">
                    <div class="col-12">

                        <b>Tipo de Proceso</b>
                        <select class="form-control">
                            <option value="1">--Selecciona opcion--</option>
                            <option value="2">Campaña</option>
                            <option value="3">PreCampaña</option>
                        </select>

                        <b>Tipo de Comité</b>
                        <select class="form-control" disabled>
                            <option value="1">--Selecciona opcion--</option>
                        </select>

                        <b>Clave de Contabilidad</b>
                        <input type="text" disabled class="form-control">

                        <br>
                    </div>
                </div>
            </div>

            <h4>Impuestos</h4>
            Puedes llenar impuestos que se apliquen a todos los conceptos o impuestos (retenciones) locales.

            <br>

            <div class="row">
                <div class="col-12">
                    <b>Tipo de impuesto</b>
                    <select class="form-control">
                        <option value="1">Selecciona</option>
                        <option value="2">IVA</option>
                        <option value="3">Local</option>
                    </select>

                    <b>Tasa</b>
                    <select class="form-control">
                        <option value="1">Selecciona</option>
                    </select>

                    <b>Importe</b>
                    <input type="text" value="$0" disabled class="form-control">
                </div>
            </div>
        </article>

        <br>

        <div class="col-12 text-right">
            <b class="text-muted">Suma de impuestos</b>
        </div>

        <article id="Emisor" class="post_article">
            <b>Emisor del comprobante</b>
            <div>
                <label>LAN7008173R5 APPRENDIA SA DE CV</label>
            </div>

            <b>Lugar de emisión</b>
            <div>
                <label>42060</label>
            </div>

            <b>Fecha</b>
            <div>
                <label>jun. 04, 2018</label>
            </div>

            <b>Folio</b>
            <div class="col-md-6">
                <div>
                    <label></label>
                </div>
            </div>

            <b>Plantilla PDF</b>
            <div>
                <label>General</label>
            </div>
        </article>

        <br>
        <br>

        <div class="col-12 text-right">
            <b class="text-muted t-30">Total</b>
            <p class="t-25">$ 100,000</p>
        </div>
    </div>

</div>

<script src="js/ocultador.js"></script>
<script src="js/menuFlotante.js"></script>