<div class="container haed-menu">

    {{#ember-wormhole to="factura-head"}} {{#if (not-eq source 'logged.menu.catalogoconceptos')}} {{#if (eq id null)}} {{#link-to
    source }}
    <img src="icons/atras.svg" width="30" height="35"> {{/link-to}} {{else}} {{#link-to source id}}
    <img src="icons/atras.svg" width="30" height="35"> {{/link-to}} {{/if}}

    <div class="col-10 estiloH">
        <h3>Catalogo</h3>
    </div>
    {{else}}
    <div class="col-12 estilocentrado">
        <h3>Catalogo</h3>
    </div>
    {{/if}} {{/ember-wormhole}}

    <div class="row">
        <div class="col-12">

            {{#if (eq source 'logged.menu.catalogoconceptos')}}
            <div class="col-12 text-right">
                {{#link-to "logged.menu.conceptoseimpuestos" (query-params source='logged.menu.catalogoconceptos' id=null) class="btn btn-outline-primary
                btn-lg" aria-pressed="true"}}
                <span>
                    <img src="icons/plus.svg" width="15" height="15">
                </span>Añadir Concepto {{/link-to}}
            </div>
            <br> {{/if}}


            <div class="col-12">
                <p>Se cuenta con los detalles de los conceptos que utilizas, para evitar llenarlos cada vez que emites facturas.
                </p>

                <p>
                    <b>Instrucciones:</b> Para ver detalles del concepto de hacer click en el.
                </p>

                <table class="tablaDescripcion">
                    <thead class="text-center">
                        <tr>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    
                       <tbody>
                           {{#each model as |concepto|}}
                                {{#link-to 'logged.menu.editarconcepto' concepto.id (query-params source=source id=id) tagName='tr'}}
                                    <td>
                                        {{concepto.descripcion}}
                                    </td>
                                {{/link-to}}
                            {{/each}}
                                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>