<div id="barraVertical" class="social ocultardiv">
    <ul>
        <li>
            <a class="smoothScroll" {{action "pressed" 'inicio' }}>
                <img src="icons/inicio.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" 'cliente' }}>
                <img src="icons/Cliente.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "conceptos"}}>
                <img src="icons/concepto.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "complementos"}}>
                <img src="icons/complementoINE.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "Emisor"}}>
                <img src="icons/emisor.svg" width="30" height="30">
            </a>
        </li>
        <li>
            <a class="smoothScroll" {{action "pressed" "facturar"}}>
                <img src="icons/fin.svg" width="30" height="30">
            </a>
        </li>
    </ul>
</div>
{{!-- TO DO
    Conultar los datos y estado de la factura seleccionada y realizar las acciones pertinentes
--}}

<div class="container haed-menu">

    {{#ember-wormhole to="factura-head"}} {{#link-to 'logged.menu.factura'}}
    <img src="icons/atras.svg" width="30" height="35"> {{/link-to}}
    <div class="col-10 estiloH">
        <h3>Detalle Factura</h3>
    </div>
    {{/ember-wormhole}}

    <div class="col-12">

        <article id="inicio">

            <div class="alert estadoFactura" style="background-color: #ffbc67;">
                <h5 id="mensaje">Esta factura es de Prueba, no tiene validez </h5>
            </div>

            <hr>

            <div class="justify-content-center">
                <button class="col btn btn-outline-secondary" role="button" aria-pressed="true">
                    <img src="icons/enviar.svg" width="15" height="15"> Enviar por correo electronico
                </button>
            </div>

            <hr>

            <div class="row justify-content-around">
                <button class="btn btn-outline-secondary" role="button" aria-pressed="true">
                    <img src="icons/descargar.svg" width="15" height="15"> Descargar XML
                </button>

                <button class="btn btn-outline-secondary" role="button" aria-pressed="true">
                    <img src="icons/descargar.svg" width="15" height="15"> Ver PDF
                </button>
            </div>

            <div class="row">
                <div class="col-12">
                    <hr>
                    <b>Folio Fiscal (UUID) </b>
                    <div class="col-12">
                        <label></label>
                    </div>
                    <hr>
                    <b>Fecha de Timbrado</b>
                    <div class="col-12">
                        <label></label>
                    </div>
                </div>
            </div>
        </article>

        <article id="cliente" class="post_article">
            <hr>

            <div class="row">
                <div class="col-12">

                    <b>RFC del Cliente</b>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>

                    <b>Uso que dará el cliente a la factura</b>
                    <div class="form-group">
                        <select class="form-control">
                            
                        </select>
                    </div>

                    <b>Forma de pago</b>
                    <div class="form-group">
                        <select class="form-control">
                            
                        </select>
                    </div>

                    <b>Método de pago</b>
                    <div class="form-group">
                        <select class="form-control">
                            
                        </select>
                    </div>

                    <b>Moneda y tipo de cambio</b>
                    <div class="form-group">
                        <select class="form-control">
                            
                        </select>
                    </div>

                    <b>Condiciones de pago</b>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>

                </div>
            </div>
        </article>

        <article id="conceptos" class="post_article">
            <b>Conceptos</b>
            <p>Estos son los productos o complementos que se incluirán en la factura, puedes agregar nuevos de la siguientes
                formas:
            </p>
            <div class="row">
                <div class="col-12">
                    <br>
                    {{#link-to 'logged.menu.catalogoconceptos' (query-params source="logged.menu.detallefactura" id=null) 
                        class="btn btn-outline-primary" role="button" aria-pressed="true"}}
                            Elegir del catálogo
                    {{/link-to}}
                    {{#link-to 'logged.menu.conceptoseimpuestos' (query-params source="logged.menu.detallefactura" id=null) 
                        class="btn btn-outline-primary" role="button" aria-pressed="true"}}
                        Llenar nuevo
                    {{/link-to}}
                </div>
            </div>

            <br>
            <br>

            <div class="col-12">

                <div class="row justify-content-between">
                    <b>Subtotal</b>
                    <b>$ 0</b>
                </div>

                <div class="row justify-content-between">
                    <b>Descuento</b>
                    <b>$ 0</b>
                </div>

                <div class="row justify-content-between">
                    <b>Impuestos de conceptos</b>
                    <b>$ 0</b>
                </div>

            </div>
        </article>

        <br>

        <article id="complementos" class="post_article">
            <h4>Complementos</h4>
            <input type="button" value="+Complemento INE" id="BtnComplementoINE" class="btn btn-outline-primary">

            <br>
            <br>
            {{!-- TO DO
                Cargar los complementos INE de la factura
            --}}

        </article>


        <h4>Impuestos</h4>
        Puedes llenar impuestos que se apliquen a todos los conceptos o impuestos (retenciones) locales.

        <br>
        <br>
        {{!-- TO DO
            Cargar los impuestos de la factura
        --}}

        <article id="Emisor" class="post_article">
            <b>Emisor del comprobante</b>
            <div class="form-group">
                <select class="form-control">

                </select>
            </div>

            <b>Lugar de emisión</b>
            <div class="form-group">
                <div class=" input-group mb-3">
                    <select class="form-control">
                        
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="icons/edit.svg" width="20" height="20">
                        </span>
                    </div>
                </div>
            </div>

            <b>Fecha</b>
            <div class="form-group">
                
            </div>

            <b>Folio</b>
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control">
                        
                    </select>
                    <input type="text" disabled class="col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="icons/edit.svg" width="20" height="20">
                        </span>
                    </div>
                </div>
            </div>

            <b>Plantilla PDF</b>
            <div class="form-group">
                <select class="form-control">
                    
                </select>
            </div>
            <br>
            <br>

            <div class="col-12 text-right">
                <b class="text-muted t-30">Total</b>
                <p class="t-25">$ 0</p>
            </div>

        </article>


        <hr>

        <article id="facturar" class="post_article">

            <div class="row justify-content-around">
                <div class="col-6">
                <button class="col btn btn-outline-danger" role="button" aria-pressed="true">Borrar factura</button>
                </div>
                <div class="col-6">
                    <button class="col btn btn-outline-info" role="button" aria-pressed="true">Modo prueba</button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-6">
                    <button class="col btn btn-outline-success" role="button" aria-pressed="true">Facturar
                        <span><img src="icons/enviarfactura.svg" width="20" height="20"></span>
                    </button>
                </div>

                <div class="col-6">
                    <button class="col btn btn-success" role="button" aria-pressed="true">Facturar</button>
                </div>
            </div>
        </article>
    </div>

</div>

<script src="js/menuFlotante.js"></script>
<script src="js/ocultador.js"></script>