{{!-- TO DO
    Mostrar el estado y el municipio del receptor y dividir la direccion dependiendo a los input
    de calle numext y numint
--}}
<div class="container haed-menu">

    {{#ember-wormhole to="factura-head"}} {{#link-to 'logged.menu.listaclientes'}}
    <img src="icons/atras.svg" width="30" height="35"> {{/link-to}}
    <div class="col-10 estiloH">
        <h3>Editar Clientes</h3>
    </div>
    {{/ember-wormhole}}

      {{#if model.manuallyCreated}}
        <p class="text-right">
          <button class="btn btn-danger" {{action 'remove' model}}>Borrar cliente</button>
        </p>
      {{/if}}
        <div class="col-12">
            <p>
                <b>Instrucciones:</b> Llena todos los datos para dar de alta al cliente.
            </p>

            <b>RFC</b>
            <div class="form-group">
                {{input type="text" class="form-control" name="" value=model.rfc focus-out=(action 'toogleError' 'rfc')}} {{#if rfcErrorCheck}}
                <div style="color: red;"> {{v-get this 'model.rfc' 'message'}}
                </div>
                {{/if}}
            </div>

            <b>Nombre o razón social</b>
            <div class="form-group">
                {{input type="text" class="form-control" name="" value=model.nombre focus-out=(action 'toogleError' 'nomRazon')}} {{#if
                nomRazonErrorCheck}}
                <div style="color: red;"> {{v-get this 'model.nombre' 'message'}}
                </div>
                {{/if}}
            </div>

            <b>Email</b>
            <div class="form-group">
                {{input type="text" class="form-control" name="" value=model.email focus-out=(action 'toogleError' 'email')}} {{#if emailErrorCheck}}
                <div style="color: red;"> {{v-get this 'model.email' 'message'}}
                </div>
                {{/if}}
            </div>
            <b>Código postal</b>
            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        {{input type="text" class="form-control" name="" value=model.direcciones.lastObject.cp focus-out=(action 'toogleError' 'cp')}} {{#if cpErrorCheck}}
                        <div style="color: red;"> {{v-get this 'cp' 'message'}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="col-2 text-right">
                        <button {{action 'codigoPostal'}} class="btn btn-outline-danger" role="button" aria-pressed="true">Buscar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="datos"></div>
        <div class="col-12">
            <b>Estado</b>
            <div class="form-group">
                {{input type='text' class="form-control" value=estado disabled=true}}
            </div>

            <b>Municipio</b>
            <div class="form-group">
                {{input type='text' class="form-control" value=municipio disabled=true}}
            </div>


            <b>Colonia</b>
            <div class="form-group">
                <select class="col form-control" onchange={{action (mut colonia) value='target.value' }}>
                    <option disabled selected>--Elige una colonia --</option>
                    {{#each codigosPostales as |cp|}}
                    <option value={{cp.colonia}}>{{cp.colonia}}</option>
                    {{/each}}
                </select>
            </div>

            <b>Calle</b>
            <div class="form-group">
                {{input type='text' class="form-control" value=calle}}
            </div>

            <div class="row">
                <div class="col-6">
                    <b>num ext</b>
                    <div class="form-group">
                        {{input type='text' class="form-control" value=numExt}}
                    </div>
                </div>
                <div class="col-6">
                    <b>num int</b>
                    {{input type='text' class="form-control" value=numInt}}
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">

            <label>
                {{input type='checkbox' checked=model.ine.content change=(action 'toggleDatosIne' value='target.checked')}} Marque la casilla
                si este cliente es un partido o candidato político (Complemento INE)
            </label>

            {{#with model.ine as |ine|}} {{component 'complementos/ine-fields' ine=ine class="mt-15 mb-20"}} {{/with}}
            
            <br>
            <hr>
            <br>

            <div class="row">
                <div class="col-6">
                    {{#link-to "logged.menu.listaclientes" class="button btn btn-outline-danger"}}Volver{{/link-to}}
                </div>

                <div class="col-6 text-right">
                    <button {{action 'createReceptor'}} class="button btn btn-success"> Guardar </button>
                </div>
            </div>
        </div>
    
</div>

<script src="js/ocultador.js"></script>