<div class="container haed-menu">

    {{#ember-wormhole to="factura-head"}} 
        {{#if (eq id null)}} 
            {{#link-to source}}
                <img src="icons/atras.svg" width="30" height="35"> 
            {{/link-to}}
            <div class="col-10 estiloH">
                <h3>Editar concepto</h3>
            </div>
        {{else}} 
            {{#link-to source id}}
                <img src="icons/atras.svg" width="30" height="35"> 
            {{/link-to}}
            <div class="col-10 estiloH">
                <h3>Editar concepto</h3>
            </div>
        {{/if}} 
    {{/ember-wormhole}}

    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <div class="text-right">
                    <button class="btn btn-danger" {{action 'remove'}}>Borrar concepto</button>
                </div>

                <b>Cantidad</b>
                <div class="input-group mb-3">
                    {{input class="form-control text-right" min=0 unmaskAsNumber=true group=true groupSize=3 separator=',' decimal=false value=model.cantidad}}
                </div>

                <b>Unidad</b>
                <div class="input-group mb-3">
                    {{#power-select options=unidades selected=model.claveUnidad renderInPlace=true  classNames="form-control"
                    onchange=(action 'setClaveUnidad')
                    as |unidad| }} 
                    ({{unidad.clave}})
                    {{unidad.tipo}} 
                    {{/power-select}}
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="icons/settings.svg" width="20" height="25">
                        </span>
                    </div>
                </div>

                <b>Concepto</b>
                <div class="input-group mb-3">
                    {{#power-select options=conceptos selected=model.claveUnidadConcepto renderInPlace=true  classNames="form-control"
                    onchange=(action 'setClaveConcepto')
                    as |concepto| }} 
                    ({{concepto.clave}})
                    {{concepto.tipo}} 
                    {{/power-select}}
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="icons/search.svg" width="20" height="25">
                        </span>
                    </div>
                </div>

                <b>Descripción</b>
                <div class="input-group mb-3">
                    {{input value=model.descripcion class="form-control"}}
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="icons/settings.svg" width="20" height="25">
                        </span>
                    </div>
                </div>

                <b>P. Unitario</b>
                <div class="form-group">
                    {{currency-input disabled=disabled pplaceholder="Precio unitario" unmaskedValue=model.valorUnitario unmaskAsNumber=true rightAlign=true
                    class="form-control"}}
                </div>

                <b>Importe</b>
                <div class="form-group input-group">
                    {{currency-input disabled=disabled pplaceholder="Precio unitario" unmaskedValue=model.valorUnitario unmaskAsNumber=true rightAlign=true disabled=true class="form-control"}}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <div class="col-sm-12 mt-15 mb-15">
                                <label>Descuento</label>
                                <div class="form-group">
                                    <input type="hidden" class="form-control"> 
                                    {{currency-input pplaceholder="Descuento" unmaskedValue=model.descuento unmaskAsNumber=true class="form-control"}}
                                    <input type="hidden" class="form-control">
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <br>
                <br>

                <h4>Impuestos</h4>
                Agregar impuesto al concepto actual.
                <br>
                    {{#each (reject-by 'hidden' model.impuestos) as |impuesto index|}} 
                        {{#unless impuesto.isDeleted}} 
                        {{x-form-impuesto editable=true impuesto=impuesto hideLabels=(gt index 0) locales=true}}
                        {{/unless}} 
                    {{/each}}
                <br>

                <button {{action "nuevoImpuesto"}} class="btn btn-outline-primary">
                    <img src="icons/plus.svg" width="15" alt="15">
                    Agregar Impuesto
                </button>

                <br>
                <br>

            </div>
        </div>

        <br>
        <br>

    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-12 text-right">

                {{#if (eq id null)}} 
                    <button {{action 'update'}} class="btn btn-success" aria-pressed="true">
                        Agregar
                    </button>
                {{else}}
                    {{#link-to source id class="btn btn-success" aria-pressed="true"}} 
                        Agregar
                    {{/link-to}} 
                {{/if}}

            </div>
        </div>
    </div>

</div>
<script src="js/ocultador.js"></script>