<div class="container haed-menu">
    {{#ember-wormhole to="factura-head"}}
    <div class="col-12 estilocentrado">
        <h3>Facturas</h3>
    </div>
    {{/ember-wormhole}}

    <div class="col-12">
        <div class="col-12">
            <progress id="barra" value=10 max=100 class="barraStyle"></progress>
        </div>

        <div class="row">
            <div class="col-4 t-13">
                0
            </div>
            <div class="col-8 text-right t-13">
                <b>100 creditos totales</b>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <button {{action 'crearFactura'}} class="button btn btn-outline-primary btn-lg" aria-pressed="true">
                        <span>
                            <img src="icons/plus.svg" width="15" height="15">
                        </span>Crear factura</button>
                </div>
                <br>
                <p>Aquí encontrarás tus comprobantes emitidos ya sea de prueba o timbrados ante el SAT.</p>
            </div>
        </div>

        <br>

        <div class="form-group">
            Filtro:
            <select onchange={{action (mut filtro) value='target.value'}} class="form-control">
                <option value="sf">Sin filtro</option>
                <option value="st">Sin timbrar</option>
                <option value="ep">En prueba</option>
                <option value="t">Timbradas</option>
                <option value="c">Canceladas</option>
            </select>
        </div>
{{dateBuilt}}
        <div>
            Filtar por Fecha:
        </div>
   <b>Fecha</b>
            <div class="col-12">
            <div class="row form-group">
                <select style="font-size: .8rem" onchange={{action (mut year) value='target.value'}} id="anios" class="col form-control">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                <select style="font-size: .8rem" onchange={{action (mut month) value='target.value'}} id="meses" class="col form-control">
                    <option selected disabled>Mes</option>                   
                    <option value="1">Ene</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Abr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Ago</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12" >Dic</option>
                </select>
                <select onchange={{action (mut day) value='target.value'}} style="font-size: .8rem" id="dias" class="col form-control">
                   <option value="-1">Todos</option>
                    {{#each daysInMonth as |d|}}
                        <option value={{d}} selected={{ eq d day }}>{{d}}</option>
                    {{/each}}
                </select>
            </div>
        </div>


    </div>

    <br>

    <div class="col-12">
        <p>
            <b>Instrucciones:</b> Para ver detalles de la factura favor de hacer click en ella.</p>

        <table class="tabla">
            <thead>
                <tr>
                    <th>RFC</th>
                    <th>Fecha</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                {{#each searchfacturafecha as |factura|}}
                    {{#link-to 'logged.menu.detallefactura' tagName='tr'}}
                        <td>
                            <b>{{factura.receptorRfc}}</b>
                        </td>
                        <td>{{moment-format factura.fechaUnix 'DD MMM YYYY' 'X' utc=true}}</td>
                        <td>${{factura.total}}</td>
                        
                    {{/link-to}}
                
                {{/each}}

            </tbody>
        </table>
    </div>

</div>