<div class="container haed-menu">

    {{#ember-wormhole to="factura-head"}}
    <div class="col-12 estilocentrado">
        <h3>Lista de clientes</h3>
    </div>
    {{/ember-wormhole}}


    <div class="row">
        <div class="col-12 text-right">
            {{#link-to "logged.menu.altaclientes" class="btn btn-outline-primary btn-lg"}}
            <span>
                <img src="icons/plus.svg" width="15" height="15">
            </span>Añadir cliente{{/link-to}}
        </div>
    </div>

    <br>

    <div class="col-12">
        {{input type="text" placeholder="Filtrar por RFC o nombre..." value=busqueda class="form-control"}}

        <br>
        <table class="tablaClientes">
            <thead>
                <tr>
                    <th>RFC</th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
                {{#each searchResults as |cliente|}}
                    {{#link-to 'logged.menu.editarcliente' cliente.id tagName='tr'}}
                    <td>
                        <b>{{cliente.rfc}}</b>
                        <div class="nombre">{{cliente.nombre}}</div>
                    </td>
                    <td class="facutarTabla" id="factura">
                        <button {{action 'crearFactura' cliente.rfc}} class="btn btn-link">Facturar</button>
                    </td>
                    {{/link-to}} 
                {{/each}}

            </tbody>
        </table>
    </div>

</div>