<div class="container haed-menu">

    {{#ember-wormhole to="factura-head"}}
    <div class="col-12 estilocentrado">
        <h3>Perfil</h3>
    </div>
    {{/ember-wormhole}}

    <div class="row">
        <div class="col-12">
            <div class="col-12">

                <b>Usuario</b>
                <div>
                    {{#if session.currentUser.email}} {{session.currentUser.email}} {{else}} {{email}} {{/if}}
                </div>
                <br>
                <b>ID Cliente</b>
                <div>
                    {{#if session.currentUser.uid}} {{session.currentUser.uid}} {{else}} {{uid}} {{/if}}
                </div>
                <br>
                <div>
                    <b>Atención a clientes</b>

                    <br>

                    <button class="btn" style="background-color: #2b4c7f" type="button" data-toggle="collapse" data-target="#soporte">
                        <img src="icons/telefono.svg" width="30px" height="35">
                        <label>--Ver--</label>
                    </button>

                    <div class="collapse" id="soporte">
                        <br>
                        <div class="col-12">

                            <a href="tel:7712854026">7712854026 Conta MC</a>
                        </div>
                        <br>
                        <div class="col-12">
                            <b>Correo electrónico</b>
                            <p>contacto@contamc.com</p>
                        </div>
                    </div>
                </div>
                <br>
                <b>Cambiar contraseña</b>

                <div>
                    <button class="btn" style="background-color: #2b4c7f" type="button" data-toggle="collapse" data-target="#contrasenia">
                        <img src="icons/ChangePassword.svg" width="30px" height="35px">
                        <label>--Cambiar--</label>
                    </button>
                </div>

                <div class="collapse" id="contrasenia">

                    <br>

                    <b>Nueva contraseña</b>
                    {{input type="password" id="pass" class="form-control" name="" value=password focus-out=(action 'toogleError' 'password')}}
                    {{#if passwordErrorCheck}}
                    <div style="color: red;"> {{v-get this 'password' 'message'}}
                    </div>
                    {{/if}}

                    <b>Confirmar contraseña</b>
                    {{input type="password" id="verificarpass" class="form-control" name="" value=verifyPassword focus-out=(action 'toogleError'
                    'verifyPassword')}} {{#if verifyPasswordErrorCheck}}
                    <div style="color: red;"> {{v-get this 'verifyPassword' 'message'}}
                    </div>
                    {{/if}}

                    <br>

                    <div class="text-right">
                        <button {{action 'changepassword' on='click' }} class="btn btn-outline-info">Guardar Cambios</button>
                    </div>

                </div>

                <br>
                <hr>
                <br>

                <div class="text-center warning confirm" id="confirm-dialog">
                    <button {{action 'logout' on='click' }} class="btn btn-outline-danger">
                        <img src="icons/salir.svg" width="40" height="40"> 
                        Cerrar Sesión</button>
                </div>

            </div>
        </div>
    </div>
</div>