<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Facturación MC</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {{content-for "head"}}

  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
  <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/facturacion-app.css"> {{content-for "head-footer"}}
</head>

<body>
  {{content-for "body"}}

  <script src="{{rootURL}}assets/vendor.js"></script>

  <script src="https://unpkg.com/sweetalert2@7.22.2/dist/sweetalert2.all.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
  <script src="js/ocultador.js"></script>
  <script src="js/decimal.min.js"></script>

  <script src="{{rootURL}}assets/facturacion-app.js"></script> 
  {{content-for "body-footer"}}
</body>

</html>