<div class="container new-factura">

    <div class="row">
        <div class="col-lg-12">

            <b class="h3">Complementos INE</b>

            <br>
            <br>

            <p>Si la factura sera emitida para un proceso electoral llenar los siguientes campos
            </p>


            {{#with model.ine as |ine|}} {{component 'complementos/ine-fields' ine=ine class="mt-15 mb-20"}} {{/with}}
        </div>
    </div>
</div>

{{lower-menu mode='complementos-ine' backC_ine=(action 'backC_ine') nextC_ine=(action 'nextC_ine')}}
