<div class="container new-factura">

    <div class="row">
        <div class="col-12">

            <b class="h3">Conceptos de la factura</b>

            <br>

            <p>Agrega los conceptos que se incluirán en la factura.
            </p>

            <div class="col-12">
                <div class="row">
                    {{#link-to 'logged.menu.catalogoconceptos' (query-params source="logged.nomenu.conceptos" id=model.id) class="col col-xs-6 btn btn-outline-primary"
                    role="button" aria-pressed="true"}} Elegir del catálogo {{/link-to}} 
                    
                    {{#link-to 'logged.menu.conceptoseimpuestos' (query-params source="logged.nomenu.conceptos" id=model.id) class="col col-xs-6 btn btn-outline-primary" 
                    role="button" aria-pressed="true"}}Agregar nuevo {{/link-to}}
                </div>
            </div>
            <br>

            <p>
                <b>Instrucciones:</b> Para ver detalles del concepto de hacer click en el.
            </p>

{{!-- TO DO
    Mostar todos los conceptos cargados en la factura
--}}
            <table class="tablaDescripcion">
                <thead class="text-center">
                    <tr>
                        <th>Descripción</th>
                    </tr>
                </thead>

                <tbody>
                    

                </tbody>
            </table>

        </div>
    </div>
</div>


{{lower-menu mode='conceptos' backConceptos=(action 'backConceptos') nextConceptos=(action 'nextConceptos') }}