<div class="container new-factura">

    <div class="row">
        <div class="col-12">

            <b class="h3">Datos generales de la factura</b>

            <br>
            <br>
{{!-- TO DO
    Conectar forma de pago con elastic
--}}
            <b>Forma de pago</b>
            <div class="form-group">
                <select onchange={{action (mut model.formaPago) value='target.value' }} class="form-control">
                    <option selected disabled> </option>
                    <option value="1">1 Efectivo</option>
                    <option value="2">2 Cheque nominativo</option>
                    <option value="3">3 Transferencia electrónica de fondos</option>
                    <option value="4">4 Tarjeta de crédito</option>
                    <option value="5">5 Monedero electrónico</option>
                    <option value="6">6 Dinero electrónico</option>
                    <option value="8">8 Vales de despensa</option>
                    <option value="12">12 Dación en pago</option>
                    <option value="13">13 Pago por subrogación</option>
                    <option value="14">14 Pago por consignación</option>
                    <option value="15">15 Condonación</option>
                    <option value="17">17 Compensación</option>
                    <option value="23">23 Novación</option>
                    <option value="24">24 Confusión></option>
                    <option value="25">25 Remisión de deuda</option>
                    <option value="26">26 Prescripción o caducidad</option>
                    <option value="27">27 A satisfacción del acreedor</option>
                    <option value="28">28 Tarjeta de débito</option>
                    <option value="29">29 Tarjeta de servicios</option>
                    <option value="30">30 Aplicación de anticipos</option>
                    <option value="99">99 Por definir</option>
                </select>
            </div>

            <b>Método de pago</b>
            <div class="form-group">
                <select onchange={{action (mut model.metodoPago) value='target.value'}} class="form-control">
                    <option value="PUE">(PUE) Pago en una sola exhibición</option>
                    <option value="PPD">(PPD) Pago en parcialidades o diferido</option>
                </select>
            </div>
{{!-- TO DO
    Conectar moneda y tipo de cambio con elastic
--}}
            <b>Moneda y tipo de cambio</b>
            <div class="input-group mb-3">
                {{#power-select id="tipomoneda" options=monedas placeholder="Seleccione tipo de moneda" 
                    selected=monedaSelected renderInPlace=true classNames="form-control"
                    onchange=(action 'setMoneda') as |moneda| }} 
                    {{moneda.moneda}} {{moneda.tipo}} 
                {{/power-select}}
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="icons/moneda.svg" width="20" height="25">
                    </span>
                </div>
            </div>

            <div class="form-group">
                <b>Condiciones de pago</b>
                {{input value=model.condicionesPago class="form-control"}}
            </div>

            <b>Fecha</b>
            <div class="col-12">
                <div class="row form-group">
                    <select onchange={{action (mut model.fecha) value="target.value"}} class="col form-control">
                        {{#each facturar as |d|}}
                        <option value={{moment-format d }}>{{moment-format d 'MMM DD YYYY'}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
{{!-- To DO
    actiones para asignar un folio a la factura
--}}
            <b>Folio</b>
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control">
                        <option>2</option>
                    </select>
                    <input type="text" disabled class="col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="icons/edit.svg" width="20" height="20">
                        </span>
                    </div>
                </div>
            </div>

            <b>Plantilla PDF</b>
            <div class="form-group">
                <select class="form-control">
                    <option value="1">General</option>
                    <option value="1">Nueva</option>
                </select>
            </div>
        </div>
    </div>
</div>

{{lower-menu mode='datos-factura' backDatos=(action 'backDatos') nextDatos=(action 'nextDatos') }}