<div class="container new-factura">

    <div class="row">
        <div class="col-12">

            <b class="h3">Datos del Emisor</b>

            <br>
            <br>

            <b>Emisor del comprobante</b>
            <div class="form-group">
                {{#power-select options=(readonly emisoresWithCertificados) 
                    selected=model.emisor 
                    onchange=(action (mut model.emisor)) 
                    searchEnabled=false 
                    placeholder="Elige el certificado con el cual emitir la factura" 
                    triggerClass="form-control" as |emisor| }}
                        <b>{{emisor.rfc}}</b> {{emisor.nombre}}
                {{/power-select}}
            </div>
            {{!-- TO DO
                Cargar el lugar de emision segun el emisor seleccionado
            --}}
{{lugaremision}}
            <b>Lugar de emisión</b>
            <div class="input-group mb-3">
                <select class="form-control">
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="icons/edit.svg" width="20" height="20">
                    </span>
                </div>
            </div>

            <br>

            <b class="h3">Datos del Receptor</b>

            <br>
            <br>
{{!-- TO DO
    Que la letra presionada se quede en power
--}}
            <b>RFC del Cliente</b>
            <div class="form-group">
                {{#power-select-typeahead-with-create
                    oninput=(action 'onKeyDown')
                    onopen=(action 'shouldBeOpen')
                    disabled=disabled
                    closeOnSelect=true
                    options=(readonly receptoresList)
                    selected=(readonly model.receptor)
                    extra=(hash labelPath='fullDisplayName')
                    placeholder='Escribe el RFC del cliente'
                    triggerClass='form-control'
                    searchField='searchableField'
                    onchange=(action 'setReceptor')
                    oncreate=(action 'createFiscalReceptor')
                    buildSuggestion=(action 'customSuggestion')
                    autofocus=false as |receptor| }}
                    <div><b>{{receptor.rfc}}</b> {{receptor.nombre}}</div>
                {{/power-select-typeahead-with-create}}
            </div>

            <b>Uso que dará el cliente a la factura</b>
            {{!-- TO DO
                Conectar el uso de factura al elastic
            --}}
            <div class="form-group">
                <select class="form-control">
                    <option value="D03">(D03) Gastos en general</option>
                    <option value="D01">(D01) Honorarios médicos, dentales y gastos hospitalarios.</option>
                    <option value="D02">(D02) Gastos médicos por incapacidad o discapacidad</option>
                    <option value="D03">(D03) Gastos funerales.</option>
                    <option value="D04">(D04) Donativos.</option>
                    <option value="D05">(D05) Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación).</option>
                    <option value="D06">(D06) Aportaciones voluntarias al SAR.</option>
                    <option value="D07">(D07) Primas por seguros de gastos médicos.</option>
                    <option value="D08">(D08) Gastos de transportación escolar obligatoria.</option>
                    <option value="D09">(D09) Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones.</option>
                    <option value="D10">(D10) Pagos por servicios educativos (colegiaturas)</option>
                    <option value="G01">(G01) Adquisición de mercancias</option>
                    <option value="G02">(G02) Devoluciones, descuentos o bonificaciones</option>
                    <option value="G03">(G03) Gastos en general></option>
                    <option value="I01">(I01) Construcciones</option>
                    <option value="I02">(I02) Mobilario y equipo de oficina por inversiones</option>
                    <option value="I03">(I03) Equipo de transporte</option>
                    <option value="I04">(I04) Equipo de computo y accesorios</option>
                    <option value="I05">(I05) Dados, troqueles, moldes, matrices y herramental</option>
                    <option value="I06">(I06) Comunicaciones telefónicas</option>
                    <option value="I07">(I07) Comunicaciones satelitales</option>
                    <option value="I08">(I08) Otra maquinaria y equipo</option>
                    <option value="P01">(P01) Por definir</option>

                </select>

            </div>
        </div>
    </div>
</div>

{{!-- Navegacion entre pantallas --}}
{{lower-menu mode='emisor-receptor' nextEmisor=(action 'nextEmisor')}}