<div class="container new-factura">

    <div class="row">
        <div class="col-12">

            <h4>Impuestos Globales</h4>
            En este apartado se aplicarán impuestos para todos los conceptos agregados a la factura.
            <br>
            <br>
{{!-- TO DO
    Calcular el impuesto de todos los concepotos cargados de la factura
--}}
                {{#each (reject-by 'hidden' model.impuestosGlobales) as |impuesto index|}} 
                        {{#unless impuesto.isDeleted}} 
                        {{x-form-impuesto editable=true impuesto=impuesto hideLabels=(gt index 0) locales=true}}
                        {{/unless}} 
                    {{/each}}
                <br>

                <button {{action "addImpuestoGlobal"}} class="btn btn-outline-primary">
                    <img src="icons/plus.svg" width="15" alt="15">
                    Agregar Impuesto Global
                </button>
    
        </div>
    </div>
</div>




{{lower-menu mode='impuestos' backImpuestos=(action 'backImpuestos') nextImpuestos=(action 'nextImpuestos') }}