<div class="container new-factura">

    <div class="row">
        <div class="col-12">

            <b class="h3">Resumen de la factura</b>

            <br>
            <br>

            <b class="h5">Datos del Emisor</b>

            <br>

            <div>
                <label>RFC del emisor</label>
                <label for=""></label>
            </div>

            <br>

            <b class="h5">Datos del Receptor</b>

            <br>

            <div>
                <label>RFC del Cliente</label>
                <label for=""></label>

            </div>

            <br>
            <br>
{{!-- TO DO
    Mostar los siguientes datos en la factura
--}}
            <div class="col-12">

                <div class="row justify-content-between">
                    <b>Subtotal</b>
                    <b>$ 0</b>

                </div>

                <div class="row justify-content-between">
                    <b>Descuento</b>
                    <b>$ 0</b>
                </div>

                <div class="row justify-content-between">
                    <b>Impuestos de conceptos</b>
                    <b>$ 0</b>
                </div>
                <div class="row justify-content-between">
                    <b>Suma de impuestos</b>
                    <b>$ 0</b>
                </div>
                <br>
                <div class="row justify-content-between">
                    <b class="text-muted t-30">Total</b>
                    <p class="t-25">$ 0</p>
                </div>
            </div>
        </div>
    </div>
</div>


{{lower-menu mode='resumen' backResumen=(action 'backResumen') save=(action 'save')}}