<br>
<br>

<div class="text-center">
  <img src="icons/logoLogin.png">

</div>
<br>

<div class="card">
  <article class="card-body">
    <h3 class="card-title text-center mb-4 mt-1">Acceso</h3>

    <hr>

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img src="icons/login.svg" width="25px" height="25px">
            </span>
          </div>
          {{input type="text" class="form-control" name="" type="email" placeholder="usuario" value=usuario 
          key-press=(action 'toogleError' 'usuario')}}
        </div>
        <div style="color: red;">
        {{#if userErrorCheck}}
           {{v-get this 'usuario' 'message'}}
        {{/if}}
        {{msgemail}}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img src="icons/password.svg" width="25px" height="25px">
            </span>
          </div>
          {{input type="password" class="form-control" name="" placeholder="contraseña" value=pass 
          key-press=(action 'toogleError''pass')}}
        </div>
        <div style="color: red;">
        {{#if passErrorCheck}}
          {{v-get this 'pass' 'message'}}
        {{/if}}
        {{msgpass}}
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 text-center">
          <button {{action 'login' usuario pass}} class="button btn btn-primary btn-block"> Iniciar Sesion </button>
        </div>
      </div>
    </form>
  </article>
</div>
